/* General Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body and Font Styling */
body {
    font-family: 'Poppins', sans-serif;
    line-height: 1.6;
    background-color: #f9f9f9;
    color: #333;
}

/* Main Container */
.main-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Navbar Styles */
header {
    background-color: #000;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav .logo a {
    color: #fff;
    font-size: 28px;
    text-decoration: none;
    font-weight: 600;
}

.nav-links {
    display: flex;
    list-style-type: none;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 400;
    font-size: 18px;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ff9e00;
}

.nav-right .btn-nav {
    color: #fff;
    background-color: #ff9e00;
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 500;
    margin-left: 10px;
    transition: background-color 0.3s;
}

.nav-right .btn-nav:hover {
    background-color: #e68a00;
}

/* Hero Section Styles */
.hero {
    height: 100vh;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
}

.hero-content h1 {
    font-size: 3rem;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.hero-content .highlight {
    color: #ff9e00;
}

/* Footer Styles */
footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
}

footer p {
    margin: 0;
    font-size: 14px;
}

/* Media Queries for Responsiveness */
@media (max-width: 768px) {
    .nav-links {
        display: none;
    }
    .nav-right {
        display: none;
    }
    
    .hero-content h1 {
        font-size: 2.5rem;
    }

    .hero-content p {
        font-size: 1.2rem;
    }
}

